<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recipe.name %>
</p>

<p>
  <b>Image:</b>
  <%= @recipe.image %>
</p>

 <%= @recipe.ingredients.map(&:name).to_sentence %>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
